:host{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}
.login{
    background-color: cornsilk;
    border: 1px solid palevioletred;
    border-radius: 0.3em;
    padding: 1em;
    width: 250px;
    box-shadow: 0 0 1em 1em pink;
    div{
        margin: 0.4em;
        label{
        display:block;
    
        }
    }
    input{
       width: 100%;
       padding: 0.3em; 
       box-sizing: border-box;
    }
    button{
        background-color: rgb(183, 74, 95);
        color: antiquewhite;
        width: 100%;
        box-sizing:border-box;
        border:none;
        border-radius:0.3em;
        padding: 0.3em;
    }
}