:host{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}
.login{
    background-color: cornsilk;
    border: 1px solid palevioletred;
    border-radius: 0.3em;
    padding: 1em;
    box-shadow: 0 0 0.3em 0em pink;
    div{
        margin: 0.3em;
        label{
        display: block;
    
        }
    }
    button[display]{
background-color: antiquewhite;
    }
    .message{
        background-color: rgba(255, 117, 177, 0.24);
        padding: 0.6;
        border-radius: 0.4;
        text-align: center;
    }
    button{
        background-color: rgb(183, 74, 95);
        color: antiquewhite;
        width: 100%;
        box-sizing:border-box;
        border:none;
        border-radius:0.3em;
        padding: 0.3em;
    }
}